build/
out/
*.svd
*.yml
.venv/
testing/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.egg-info/
dist/
*.egg
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
*.vscode/
.idea/
*.iml
*.ipr
*.iws
*.sln
*.suo
*.vcxproj*
*.ncb
*.sdf
*.opensdf
*.cache