{%- if enum.comment is defined and enum.comment %}
/** {{enum.comment}} */
{%- endif %}
enum {{enum.name}} : {{enum.type}} {
{%- for symbol in enum.symbols %}
{%- if enum.type == "char" %}
    {{enum.name|upper}}_{{symbol.name|upper}} = '{{symbol.value}}', /**< {{symbol.comment}} */
{%- else %}
    {{enum.name|upper}}_{{symbol.name|upper}} = {{symbol.value}}, /**< {{symbol.comment}} */
{%- endif %}
{%- endfor %}
};
