{%- if include_lock is defined and include_lock %}
#ifndef {{include_lock}}_HPP_
#define {{include_lock}}_HPP_
{%- endif %}

/// @file
/// Auto Generated Structure Definitions for {{peripheral.name}} from the Peripheralyzer.
/// @copyright {{copyright}}

#include <cstdint>
#include <cstddef>
#include <type_traits>

{% if includes is defined and includes -%}
{% for inc in includes -%}
#include {{inc}}
{% endfor -%}
{% endif %}
{%- if namespaces is defined and namespaces %}
{%- for ns in namespaces %}
namespace {{ns}} {
{%- endfor %}
{%- endif %}
{%- set structure=peripheral %}
{%- include 'structure.hpp.jinja' %}

/// The external volatile {{peripheral.name|snake_case}} which is a memory mapped register or peripheral.
/// @note The address of the peripheral is set either by the linkerscript or by a unit test.
extern {{peripheral.name}} volatile {{peripheral.name|snake_case}};

{%- if namespaces is defined and namespaces %}
{%- for ns in namespaces|reverse %}
} // namespace {{ns}}
{%- endfor %}
{%- endif %}
{%- if include_lock is defined and include_lock %}
#endif // {{include_lock}}_HPP_
{%- endif %}
