#include <cassert>
#include <cstdio>
#include "{{peripheral.name}}.hpp"

{%- if namespaces is defined and namespaces %}
{%- for ns in namespaces %}
namespace {{ns}} {
{%- endfor %}
{%- endif %}
{%- set structure=peripheral %}
{%- include 'recurse_define_validate.cpp.jinja' %}
{%- if namespaces is defined and namespaces %}
{%- for ns in namespaces|reverse %}
}  // namespace {{ns}}
{%- endfor %}
{%- endif %}

int main(int, char *[]) {
{%- if namespaces is defined and namespaces %}
    using namespace {{ namespaces|join("::") }};
{%- endif %}
{% set structure = peripheral %}
{%- include 'recurse_call_validate.cpp.jinja' %}
    printf("All Asserts Passed\r\n");
    return 0;
}